.CityandTime {
    margin-top: 70px;
}

.CityandTime .fa-map-marker-alt, #city, #time  {
    display: inline;
    font-size: 32px;
    text-transform: uppercase;
    margin-right: 8px;
}

.CityandTime #date{
    font-size: 20px;
}

