.WeatherInfo #rectangle {
    position: relative;
    left: 15px;
    top:10px;
    width: 455px;
    height: 155px;
    background-color: rgb(76, 146, 146);
    border-radius: 4px;
}
  
.WeatherInfo #temp {
    display: inline;
    position: relative;
    top: 20px;
    font-size: 60px;
}
  
.WeatherInfo #description {
    margin-left: 25px;
    text-transform: capitalize;
}
  
.WeatherInfo #humidity, #wind {
    font-size: 18px;
}
  
.WeatherInfo .fa-tint, .fa-wind {
    position: relative;
    margin-right: 8px;
    margin-top: 42px;
    font-size: 22px;
}
  
.WeatherInfo .fa-wind {
    margin-top: 12px;
}

.WeatherInfo .Units {
    margin-top: 30px;
    font-size: 20px;
}
  
.WeatherInfo .Units .active {
    color: white;
    cursor: default;
}

 .WeatherInfo .Units .active:hover {
    text-decoration: none;
}